body {
    background-color: #fff;
    margin: 0;
    font-family: 'Lato', sans-serif;
}    
#wrapper {
     width: 1005px;
     margin: 0 auto;
}
#colwrapper {
     display: inline-block;
     margin: 0 auto;
     padding: 5px;
     border: 1px solid black;
     background-color: #eee;
}
#leftcolumn, #rightcolumn {
    float: left;
    min-height: 700px;
    color: black;
}
#leftcolumn {
     width: 350px;
     background-color: #eee;
}
#rightcolumn {
     width: 640px;
     background-color: #eee;
}
#chart_export {
    width: 600px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    background-color: #fff;
    padding: 10px
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Lato:100', sans-serif;
}
img {
    margin: 0 auto;
    display: block;
    padding: 10px;
}
.plot {
    margin-top: 10px;
    border: 1px solid black;
    background-color: #fff;
}
.errors {
    color: #c00;
}

.hidden{
    display: none;
}

.two-col {
    overflow: hidden;/* Makes this div contain its floats */
}

.two-col .col1,
.two-col .col2 {
    width: 49%;
}

.two-col .col1 {
    float: left;
}

.two-col .col2 {
    float: right;
}

.two-col label {
    display: block;
}

#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}
